@{
    ViewBag.Title = "HRPD: Home";
    ViewBag.Layout = "layout-124 band-small welcome home search";
}

<div class="container" style="width: 1050px; height: 500px;">

    <div style="text-align:center; margin-top:200px;">
        <h1>Welcome to PMP Merit and CIP Award Notification Portal. </h1>
    </div>
    

</div>

@*@section momentumBand {
    
		<img src="/images/BannerTitle.jpg" width="100%" height="110" alt="HRPD Application" />

}*@

@*@section welcomeMessage {
    <div class="welcomeMessageDIV">
        <div style="position:relative; top:15px;">Hello  @ViewBag.CurrentUser</div>
    </div>
}*@

@*@section columnRight {*@
    @*<h4 runat="server" id="userTitle" style="color:#1990BE !important;" ></h4>
    <h4 class="headline" >Quick Links</h4>
    <ul class="separator arrows">
    <li><a href="https://collab001-hou.sp.chevron.net/sites/devnet/development/nonerp/net/bp/itrc/default.aspx">ITRC Website</a></li>
    <li><a href="http://chaos.chevron.com/">CHAOS</a></li>
    <li><a href="https://collab001-hou.sp.chevron.net/sites/devnet/default.aspx">Chevron DEVNET</a></li>
    </ul>*@
@*}*@

@*@section FirstColumn {
    <p>
        <strong>The ITRC Sample Application: Ordering System.</strong> <br />
        This sample application was created to present how the ITRC Template is implemented in a real world scenario.
        Paired with the ITRC how-to-guide, the sample applicaiton aims to help developers understand the usage of the
        ITRC template and its underlying reusable components.
  </p>
  <p>
        The ITRC Template is an extension of the IBS Templates which includes reusable component at code level. The
        template comes with reusable libraries and code components that adress application cross-cutting concerns.
 
    </p>
}*@