@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div style="height:300px; width:600px; text-align: center;
vertical-align: middle;
line-height: 90px; position: relative;left: 30%;">
    <hgroup class="title">
        <h1 class="error">Error</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</div>