<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--<add name="HRPDConnectionString" connectionString="Data Source=dha57w8ah3rss1\dhapdb1;Database=ITRCTestDB;Integrated Security=SSPI;"
    providerName="System.Data.SqlClient" />-->
 
  
  <!--<add name="ITRCSampleContainer" connectionString="metadata=res://*/ITRCSample.csdl|res://*/ITRCSample.ssdl|res://*/ITRCSample.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=R8DHH7A4180\MMOELLER;initial catalog=ITRCTestDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />-->

 <add name="HRPDConnectionString" connectionString="Data Source=DHAK94WCNSQLV01\GAPVDHAT1;Initial Catalog=PDDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  
 
</connectionStrings>
