<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!-- Lifetime manager types should be inserted
        if you need lifetime managers -->
  <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
  <alias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />

  <!-- User defined type aliases -->
  
  <alias alias="IPersistence" type="Chevron.HRPD.Common.Interfaces.IPersistence`1, Chevron.HRPD.Common" />
  <alias alias="BasePersistence" type="Chevron.HRPD.DataAccess.BasePersistence`1, Chevron.HRPD.DataAccess" />

  <!--<alias alias="IPersistencenotmaped" type="Chevron.HRPD.Common.Interfaces.IPersistencenotmaped`1, Chevron.HRPD.Common" />
  <alias alias="BasePersistenceNotMaped" type="Chevron.HRPD.DataAccess.BasePersistenceNotMaped`1, Chevron.HRPD.DataAccess" />-->

  <alias alias="IUserActivityLogPersistence" type="Chevron.HRPD.Common.Interfaces.IUserActivityLogPersistence, Chevron.HRPD.Common"/>
  <alias alias="IUserLogInLogPersistence" type="Chevron.HRPD.Common.Interfaces.IUserLogInLogPersistence, Chevron.HRPD.Common"/>
  <alias alias="IUserLogInLogPersistence" type="Chevron.HRPD.Common.Interfaces.IUserLogInLogPersistence, Chevron.HRPD.Common"/>


  <!--<alias alias="ItestPersistence" type="Chevron.HRPD.Common.Interfaces.ItestPersistence, Chevron.HRPD.Common" />
  <alias alias="testPersistence" type="Chevron.HRPD.DataAccess.testPersistence, Chevron.HRPD.DataAccess" />
  <alias alias="test" type="Chevron.HRPD.BusinessEntities.test, Chevron.HRPD.BusinessEntities" />-->

  <!--<alias alias="IOverTimeApplyPersistence" type="Chevron.HRPD.Common.Interfaces.IOverTimeApplyPersistence, Chevron.HRPD.Common" />
  <alias alias="OverTimeApplyPersistence" type="Chevron.HRPD.DataAccess.OverTimeApplyPersistence, Chevron.HRPD.DataAccess" />
  <alias alias="OverTimeApply" type="Chevron.HRPD.BusinessEntities.OverTimeApply, Chevron.HRPD.BusinessEntities" />-->

  <!--<alias alias="ItblEmployeeInformationPersistence" type="Chevron.HRPD.Common.Interfaces.ItblEmployeeInformationPersistence, Chevron.HRPD.Common" />
  <alias alias="tblEmployeeInformationPersistence" type="Chevron.HRPD.DataAccess.tblEmployeeInformationPersistence, Chevron.HRPD.DataAccess" />
  <alias alias="tblEmployeeInformation" type="Chevron.HRPD.BusinessEntities.tblEmployeeInformation, Chevron.HRPD.BusinessEntities" />-->

  <!--<alias alias="IRateUploadPersistence" type="Chevron.HRPD.Common.Interfaces.IRateUploadPersistence, Chevron.HRPD.Common" />
  <alias alias="RateUploadPersistence" type="Chevron.HRPD.DataAccess.RateUploadPersistence, Chevron.HRPD.DataAccess" />
  <alias alias="RateUpload" type="Chevron.HRPD.BusinessEntities.RateUpload, Chevron.HRPD.BusinessEntities" />-->

  <!--<alias alias="IManagerEntryPersistence" type="Chevron.HRPD.Common.Interfaces.IManagerEntryPersistence, Chevron.HRPD.Common" />
  <alias alias="ManagerEntryPersistence" type="Chevron.HRPD.DataAccess.ManagerEntryPersistence, Chevron.HRPD.DataAccess" />
  <alias alias="ManagerEntry" type="Chevron.HRPD.BusinessEntities.ManagerEntry, Chevron.HRPD.BusinessEntities" />-->

  <!--<alias alias="ItblHolidaySchedulePersistence" type="Chevron.HRPD.Common.Interfaces.ItblHolidaySchedulePersistence, Chevron.HRPD.Common" />
  <alias alias="tblHolidaySchedulePersistence" type="Chevron.HRPD.DataAccess.tblHolidaySchedulePersistence, Chevron.HRPD.DataAccess" />
  <alias alias="tblHolidaySchedule" type="Chevron.HRPD.BusinessEntities.tblHolidaySchedule, Chevron.HRPD.BusinessEntities" />-->

  <alias alias="IUserActivityLogPersistence" type="Chevron.HRPD.Common.Interfaces.IUserActivityLogPersistence, Chevron.HRPD.Common" />
  <alias alias="UserActivityLogPersistence" type="Chevron.HRPD.DataAccess.UserActivityLogPersistence, Chevron.HRPD.DataAccess" />
  <alias alias="UserActivityLog" type="Chevron.HRPD.BusinessEntities.UserActivityLog, Chevron.HRPD.BusinessEntities" />

  <alias alias="IUserLogInLogPersistence" type="Chevron.HRPD.Common.Interfaces.IUserLogInLogPersistence, Chevron.HRPD.Common" />
  <alias alias="UserLogInLogPersistence" type="Chevron.HRPD.DataAccess.UserLogInLogPersistence, Chevron.HRPD.DataAccess" />
  <alias alias="UserLogInLog" type="Chevron.HRPD.BusinessEntities.UserLogInLog, Chevron.HRPD.BusinessEntities" />

  <alias alias="IEmployee_PD_InfoPersistence" type="Chevron.HRPD.Common.Interfaces.IEmployee_PD_InfoPersistence, Chevron.HRPD.Common" />
  <alias alias="Employee_PD_InfoPersistence" type="Chevron.HRPD.DataAccess.Employee_PD_InfoPersistence, Chevron.HRPD.DataAccess" />
  <alias alias="Employee_PD_Info" type="Chevron.HRPD.BusinessEntities.Employee_PD_Info, Chevron.HRPD.BusinessEntities" />

  <alias alias="IUser_RolePersistence" type="Chevron.HRPD.Common.Interfaces.IUser_RolePersistence, Chevron.HRPD.Common" />
  <alias alias="User_RolePersistence" type="Chevron.HRPD.DataAccess.User_RolePersistence, Chevron.HRPD.DataAccess" />
  <alias alias="User_Role" type="Chevron.HRPD.BusinessEntities.User_Role, Chevron.HRPD.BusinessEntities" />



  <container>
    <register type="IPersistence[]" mapTo="BasePersistence[]"/>
    
    <!--<register type="IPersistencenotmaped[]" mapTo="BasePersistenceNotMaped[]"/>-->


    <!--<register type="IPersistence[test]" mapTo="testPersistence">
      <lifetime type="singleton"/>
    </register>
    <register type="ItestPersistence" mapTo="Chevron.HRPD.DataAccess.testPersistence, Chevron.HRPD.DataAccess" >
      <lifetime type="singleton" />
    </register-->


    <!--<register type="IPersistence[OverTimeApply]" mapTo="OverTimeApplyPersistence">
      <lifetime type="singleton"/>
    </register>
      <register type="IOverTimeApplyPersistence" mapTo="Chevron.HRPD.DataAccess.OverTimeApplyPersistence, Chevron.HRPD.DataAccess" >
      <lifetime type="singleton" />
    </register>-->



    <!--<register type="IPersistencenotmaped[tblEmployeeInformation]" mapTo="tblEmployeeInformationPersistence">
      <lifetime type="singleton"/>
    </register>
    <register type="ItblEmployeeInformationPersistence" mapTo="Chevron.HRPD.DataAccess.tblEmployeeInformationPersistence, Chevron.HRPD.DataAccess" >
      <lifetime type="singleton" />
    </register>-->

    <!--<register type="IPersistencenotmaped[tblHolidaySchedule]" mapTo="tblHolidaySchedulePersistence">
      <lifetime type="singleton"/>
    </register>
    <register type="ItblHolidaySchedulePersistence" mapTo="Chevron.HRPD.DataAccess.tblHolidaySchedulePersistence, Chevron.HRPD.DataAccess" >
      <lifetime type="singleton" />
    </register>-->

    <!--<register type="IPersistence[RateUpload]" mapTo="RateUploadPersistence">
      <lifetime type="singleton"/>
    </register>
    <register type="IRateUploadPersistence" mapTo="Chevron.HRPD.DataAccess.RateUploadPersistence, Chevron.HRPD.DataAccess" >
      <lifetime type="singleton" />
    </register>-->



    <!--<register type="IPersistence[ManagerEntry]" mapTo="ManagerEntryPersistence">
      <lifetime type="singleton"/>
    </register>
    <register type="IManagerEntryPersistence" mapTo="Chevron.HRPD.DataAccess.ManagerEntryPersistence, Chevron.HRPD.DataAccess" >
      <lifetime type="singleton" />
    </register>-->

    <register type="IPersistence[UserActivityLog]" mapTo="UserActivityLogPersistence">
      <lifetime type="singleton"/>
    </register>
    <register type="IUserActivityLogPersistence" mapTo="Chevron.HRPD.DataAccess.UserActivityLogPersistence, Chevron.HRPD.DataAccess" >
      <lifetime type="singleton" />
    </register>

    <register type="IPersistence[UserLogInLog]" mapTo="UserLogInLogPersistence">
      <lifetime type="singleton"/>
    </register>
    <register type="IUserLogInLogPersistence" mapTo="Chevron.HRPD.DataAccess.UserLogInLogPersistence, Chevron.HRPD.DataAccess" >
      <lifetime type="singleton" />
    </register>

    <register type="IPersistence[Employee_PD_Info]" mapTo="Employee_PD_InfoPersistence">
      <lifetime type="singleton"/>
    </register>
    <register type="IEmployee_PD_InfoPersistence" mapTo="Chevron.HRPD.DataAccess.Employee_PD_InfoPersistence, Chevron.HRPD.DataAccess" >
      <lifetime type="singleton" />
    </register>

    <register type="IPersistence[User_Role]" mapTo="User_RolePersistence">
      <lifetime type="singleton"/>
    </register>
    <register type="IUser_RolePersistence" mapTo="Chevron.HRPD.DataAccess.User_RolePersistence, Chevron.HRPD.DataAccess" >
      <lifetime type="singleton" />
    </register>


  </container>
</unity>
<!--
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity"-->

  <!-- Lifetime manager types should be inserted
        if you need lifetime managers -->
<!--alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
  <alias alias="external"	type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" /-->
  <!-- User defined type aliases -->
<!--alias alias="IPersistence" type="Chevron.HRPD.Common.Interfaces.IPersistence`1, Chevron.HRPD.Common" />
  <alias alias="BasePersistence" type="Chevron.HRPD.DataAccess.EntLib.BasePersistence`1, Chevron.HRPD.DataAccess.EntLib" />
  <container>
    <register type="IPersistence[]" mapTo="BasePersistence[]"/>    
  </container>
</unity>-->