@{
    ViewBag.Title = "NotAuthorized";
    ViewBag.Layout = "layout-124 home search";
}

<div class="container">
    <div class="jumbotron" style="height:300px;">
        <h2 style="color: tomato">Unauthorized Access</h2>
        <p> You have attempted to access a page that your are not authorize to view.</p>
        <p> If you have any question,please contract IT Helpdesk.</p>
    </div>
</div>

