
@{
    ViewBag.Title = "NotPermisible";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <div class="jumbotron" style="height:300px;">
        <h2 style="color: tomato">Not Available</h2>
        <p> Data is not prepared yet. Please wait....</p>
        <p> If you have any question,please contact to your Human Resource Department.</p>
    </div>
</div>


