@{
    //ViewBag.Title = "SessionExpired";
}


<div class="container">
    <div class="jumbotron" style="height:300px;">
        <h2 style="color: tomato">Session Expired</h2>
        <p> Your session has been expired due to inactivity.</p>
        <p>Please <a href="#" onclick="location.href='@Url.Action("Index","home")'">Click Here</a> To refresh your Session.</p>      
    </div>
</div>
